
html {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(231, 239, 255);
  padding: 2em;
  gap: 2em;

  background-image: url("images/6.jpg");
  background-size: cover;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.4em;
  text-decoration: underline;
  max-width: 469px;
}

.box:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
  margin: -2em;
  font-size: 2em;
  text-align: center;
  color: crimson;
}
.title:hover {
  color: darkkhaki;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* success / fail animations with prefix */

.success {
  background-color: gold;
  opacity: 0.5;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.fail {
  background-color: red;
  opacity: 0.5;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.callback {
  background-color: orange;
}

.alert {
  color: black;
}

.outcome {
  text-align: right;
  font-weight: 700;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5em;
}

.btn button {
  background-color: lightgrey;
  color: black;
  padding: 0.4em;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn button:hover {
  color: #fff;
  background-color: #616161;
}

.copy-btn {
  opacity: 0;
}

.number:hover .copy-btn {
  opacity: 1;
  background-color: lightgrey;
  color: black;
}

.link {
  color: #1f93ff;
  font-weight: 400;
}

ion-icon {
  font-size: 18px;
  margin: 0;
}

.top {
  background: -o-linear-gradient(45deg, black, transparent);
  background: linear-gradient(45deg, black, transparent);
  padding: 1em;
  height: 10em;
}

.language {
  color: crimson;
  margin: 2em;
  display: inline-block;
}

.checkbox {
  margin-left: 1em;
}

.outcome-label {
  margin-right: 0.5em;
}

/* ***Responsiveness */

@media (max-width: 1162px) {
  .container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 886px) {
  .container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
