html {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(231, 239, 255);
  padding: 2em;
  gap: 2em;

  background-image: url("./6.jpg");
  background-size: cover;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.4em;
  text-decoration: underline;
}
.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.success {
  background-color: gold;

  animation-name: fade-out;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.fail {
  background-color: red;
  animation-name: fade-out;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.callback {
  background-color: orange;
}

.alert {
  color: black;
}

.outcome {
  text-align: right;
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em
  
}

.btn button {
  background-color: lightgrey;
  color: black;
  padding: 0.4em;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn button:hover {
  color: #fff;
  background-color: #616161;
}

.copy-btn {
  opacity: 0;
}

.number:hover .copy-btn {
  opacity: 1;
  background-color: lightgrey;
  color: black;
}

.link {
  color: #1f93ff;
  font-weight: 400;
}

ion-icon {
  font-size: 18px;
  margin: 0;
}

.top {
  background: linear-gradient(45deg, black, transparent);
  padding: 1em;
  height: 10em;
}

.language{
  color: crimson;
  margin: 2em;
  display: inline-block;
}

.checkbox{
  margin-left: 1em;
}

.flag{
  width: 1em;
}
/* ***************************Testing */

.bigger {
  color: rgb(8, 8, 184);
  font-size: 15px;
  transition: all 0.5s;
}

.bigger:hover {
  color: rgb(53, 59, 59);
  font-size: 20px;
}

.title {
  margin: -2em;
  font-size: 2em;
  text-align: center;
  color: crimson;
}
.title:hover {
  color: darkkhaki;
  transition: all 1s ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 50%;
  }
}

@keyframes flash {
  from {
    color: silver;
    opacity: 0%;
  }
  to {
    color: black;
    opacity: 100%;
  }
}

@keyframes transform {
  100% {
    transform: rotate(5deg);
  }
}
